.App {
  display:grid;
  max-width: 850px;
  margin: 0px auto 0px auto;
  grid-template-columns: [beginning] 0.5fr [middle] 0.5fr [end];
  grid-gap: 10px 15px;
}

.createWorkout{
    background-color: rgba(0,255,0,0.3);

}

.workout{
    background-color: rgba(0,0,255,0.3);
}

.calendar{
    text-align: center;
    grid-column: beginning / end;
    background-color: rgba(255,0,0,0.3);
    padding: 15px;
}
